*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  width: 100%;
  padding: 1rem 5%;
  background: rgba(100, 239, 7, 0.05);
  border-bottom: 1px solid rgba(5, 181, 245, 0.1);
  backdrop-filter: blur(15px);
  /* margin-bottom: 2rem; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  font-weight: 600;
  font-size: 1.6rem;
  color: #09b57c;
letter-spacing: 1px;
}
.nav-links{
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links li a{
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #09b57c;
}

.home::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #09b57c;
  transition: 0.3s;
}
.home:hover::after{
  width: 100%;
}

.btns{
  display: flex;
}

button a{
  text-decoration: none;
  color: white;
}
button a:hover{
  color: #09b57c;
}

.btn{
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background: #09b57c;
  color: white;
  border: none;
}
.btn:hover{
  background: #fff;
  color: #09b57c;
  opacity: 0.8;
  transition: 0.3s;
  border: 1px solid #09b57c;
}

.hero {
  text-align: center;
  padding: 4rem 2rem;
  min-height: 100vh;

  background-image: linear-gradient(
      rgba(0, 0, 0, 0.623),
      rgba(0, 0, 0, 0.639)
    ),
    url("../img/bg.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: white;
}

.hero h1{
  font-size: 2.5rem;
  color: #09b57c;
  margin-bottom: 1rem;
}
.hero p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
/* .cafe-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-flow: column;
  grid-template-rows: repeat(4, auto);
  gap: 1.5rem;
}  */
.cafe-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  margin: 20px;
}

/* .cafe-card {
  background: rgba(100, 239, 7, 0.05);
  border: 1px solid rgba(5, 181, 245, 0.1);
  backdrop-filter: blur(15px);
  padding: 1rem;
  border-radius: 10px;
} */
 svg {
  width: 20px;
  height: 20px;
}
.card p {
  margin-top: 1rem;
}
.container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}
.container h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #09b57c;
}
